<h1>Contract Negotiation <span data-bind="newWindow: []"></span></h1>

<p data-bind="visible: negotiation.resigning">You are allowed to go over the salary cap to make this deal because you are re-signing <a data-bind="attrLeagueUrl: {href: ['player', player.pid]}, text: player.name"></a> to a contract extension. <strong>If you do not come to an agreement here, <a data-bind="attrLeagueUrl: {href: ['player', player.pid]}, text: player.name"></a> will become a free agent.</strong> He will then be able to sign with any team, and you won't be able to go over the salary cap to sign him.</p>
<p data-bind="visible: !negotiation.resigning()">You are not allowed to go over the salary cap to make this deal because <a data-bind="attrLeagueUrl: {href: ['player', player.pid]}, text: player.name"></a> is a free agent.</p>

<div class="row">
  <div class="col-sm-6">
    <h2><a data-bind="attrLeagueUrl: {href: ['player', player.pid]}, text: player.name"></a> <span data-bind="newWindow: ['player', player.pid]"></span></h2>
    <p>
      Mood: <span data-bind="html: player.mood"></span><br>
      <div class="progress">
        <div data-bind="attr: { 'aria-valuenow': player.grade(), style: 'width: ' + player.gradep() + '%;' }, css: { 'progress-bar-success': player.grade() > player.cutoff(), 'progress-bar-warning': player.grade() < player.cutoff(), 'progress-bar-danger': player.grade() < 50 }" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
      Overall: <span data-bind="text: player.ratings.ovr"></span> Potential: <span data-bind="text: player.ratings.pot"></span>
      <br/>
      Age: <span data-bind="text: player.age"></span> Years Pro: <span data-bind="text: player.yearsPro"></span>
      <br/>
      Last Salary: <span data-bind="currency: [player.lastSalary, 'M']"></span>
      <br>
      Max Contract: <span data-bind="currency: [player.maxContract, 'M']"></span>
    </p>
      <h3>Player Desired Contract</h3>
      <p><span data-bind="text: negotiation.player.years"></span> years (through <span data-bind="text: negotiation.player.expiration"></span>)</p>
      <p>$<span data-bind="round: [negotiation.player.amount, 3]"></span>M per year</p>
      <h3>Your current offer</h3>
      <p data-bind="visible: !player.grade() ">No offer yet</p>
    <div data-bind="visible: player.grade() ">
      <p><span data-bind="text: negotiation.team.years"></span> years (through <span data-bind="text: negotiation.team.expiration"></span>)</p>
      <p>$<span data-bind="round: [negotiation.team.amount, 3]"></span>M per year</p>
    </div>
    <p></p>


  </div>

  <div class="col-sm-6">
    <h2 data-bind="text: team.region() + ' ' + team.name()"></h2>
    <p>
      Current Payroll: <span data-bind="currency: [payroll, 'M']"></span><br>
      Projected Payroll: <span data-bind="currency: [projectedPayroll, 'M']"></span><br/>
      Salary Cap: <span data-bind="currency: [salaryCap, 'M']"></span><br>
      Free Space: <span data-bind="currency: [negoSpace, 'M']"></span> <span data-bind="visible: negoSpace() <= 0.5">(min.contract only)</span><br/>
      <span data-bind="visible: negotiation.resigning()">* No limit when resigning own player.</span>
    </p>
    <h3>Your Proposal</h3>
    <form data-bind="attrLeagueUrl: {action: ['negotiation', player.pid]}" method="POST">
      <div class="form-group input-group negotiation-team-years">
        <input type="text" class="form-control" name="teamYears" data-bind="attr: {value: negotiation.team.years}">
        <span class="input-group-addon">years</span>
      </div>
      <div class="form-group input-group negotiation-team-amount">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" name="teamAmount" data-bind="attr: {value: negotiation.team.amount}">
        <span class="input-group-addon">M per year</span>
      </div>
      <button data-bind="visible: !player.grade()"type="submit" class="btn btn-primary">Submit Offer</button>
      <button data-bind="visible: player.grade()"type="submit" class="btn btn-primary">Change Offer</button>
    </form>
    <p><form data-bind="attrLeagueUrl: {action: ['negotiation', player.pid]}" class="form-horizontal" method="POST">
      <input type="hidden" name="cancel" value="1">
      <button type="submit" class="btn btn-danger">Cancel Offer</button>
    </form>
    </p>
    <p>
    <a data-bind="attrLeagueUrl: {href: ['free_agents']}" class="btn btn-info">Back to list</a>
    </p>
  </div>
</div>
